$column:rgba(255,255,255,.6);
$delete: #d11309;
$addColor: #078fb1;
body{
    background-image: url(https://images.pexels.com/photos/346271/exposure-long-photography-rotterdam-346271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
}
h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
}
.create-column {
    display: block;
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    color: white;
    background: $addColor;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px;
}
.column-container {
    margin: 50px auto;
    padding: 20px;
}
.add-card {
    font-size: 1em;
    color: white;
    background: $addColor;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
    border: none;

}

.column{
    background-color: $column;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
    margin-top: 20px;
}

.btn-delete {
    background-color: $delete;
    border-radius: 50%;
    color: $column;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    box-shadow: none;
    margin: 0 15px;
}

.column-container {
    margin: 70px auto;
    padding: 20px;
}

.column-container, .creature {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1200px;
}